# git artifacts
.gitignore
.git

# Skiff stuff
.skiff/

# Docker artifacts
docker-compose.yaml
Dockerfile

# Proxy
proxy/

# Documentation
**/*.md

# UI dependencies
node_modules/

# Build artifacts
dist/
demo/build

# Log files
**/*.log
