*.log
bin/
proxy/
package.json
tsconfig.json
docker-compose.yml
skiff.json

# Demo scripts and dependencies
demo/config/
demo/node_modules/
demo/scripts/
demo/package.json
demo/tsconfig.json

# Lib built files
**/*.map
components/**/*.js
components/**/*.d.ts
utils/**/*.js
utils/**/*.d.ts
layout/**/*.js
layout/**/*.d.ts
theme/**/*.js
theme/**/*.d.ts
theme/theme.less
theme/theme.less
